.idea/
deployment/local.properties
deployment/app/build
/deployment/.gradle/7.3.3/checksums/checksums.lock
/deployment/.gradle/8.10/checksums/md5-checksums.bin
/deployment/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/deployment/.gradle/7.3.3/fileHashes/fileHashes.bin
/deployment/.gradle/7.3.3/fileHashes/fileHashes.lock
/deployment/.gradle/8.10/fileChanges/last-build.bin
/deployment/.gradle/8.10/checksums/sha1-checksums.bin
/deployment/.gradle/7.3.3/gc.properties
/deployment/.gradle/7.3.3/checksums/md5-checksums.bin
/deployment/.gradle/8.10/dependencies-accessors/gc.properties
/deployment/.gradle/7.3.3/executionHistory/executionHistory.lock
/deployment/.gradle/7.3.3/checksums/sha1-checksums.bin
/deployment/.gradle/8.10/gc.properties
/deployment/.gradle/vcs-1/gc.properties
/deployment/.gradle/7.3.3/fileHashes/resourceHashesCache.bin
/deployment/.gradle/7.3.3/dependencies-accessors/gc.properties
/deployment/.gradle/8.10/fileHashes/fileHashes.lock
/deployment/.gradle/buildOutputCleanup/outputFiles.bin
/deployment/.gradle/7.3.3/executionHistory/executionHistory.bin
/deployment/.gradle/7.3.3/fileChanges/last-build.bin
/deployment/.gradle/buildOutputCleanup/cache.properties
/deployment/.gradle/8.10/checksums/checksums.lock
/deployment/.gradle/file-system.probe
/deployment/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
